
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/shared/_Layout.cshtml";
}

<div>
    <section>
        @Html.Partial("_Header")
    </section>
    <section id="first" class="section">
        @Html.Partial("_MiniSlider")
    </section>
    <section id="gallery" class="section">
        @Html.Partial("_Gallery")
    </section>
    <section id="slider" class="section">
        @Html.Partial("_Slider");
    </section>
    <section id="about" class="section">
        @Html.Partial("_About")
    </section>
    @*<section id="portfolio">
            @Html.Partial("_Portfolio")
        </section>*@
    <section id="priceInfo">
        @Html.Partial("_PriceInfo")
    </section>
    <section id="contact">
        @Html.Partial("_Contact")
    </section>
    <div id="footer">
        @Html.Partial("_Footer")
    </div>
</div>
